<div class="app-layout">
    <aside class="sidebar">
        <div class="sidebar-header">
            <h1 class="logo-text">Gestión Usuarios</h1>
        </div>
        <nav class="sidebar-nav">
            <a routerLink="/admin/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i>👥</i> Gestión de Usuarios
            </a>
            <a routerLink="/admin/users/upload" routerLinkActive="active">
                <i>📊</i> Carga Masiva (Excel)
            </a>
            <div style="flex-grow: 1;"></div> 
            
            <a href="#" (click)="onLogout()" class="logout-link">
                <i>🚪</i> Cerrar Sesión
            </a>
        </nav>
    </aside>

    <main class="content-area">
        <app-notification></app-notification>
        <router-outlet></router-outlet>
    </main>
</div>